@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	font-family: 'Roboto', sans-serif;
}

.toggled {
	color: #fff;
}

.letter::before {
	content: '';
	position: absolute;
	bottom: -3px;
	left: 0;
	width: 100%;
	height: 0px;
	background-color: #fff;
	border-radius: 5px;
}

.active.letter::before {
	height: 3px;
}
